.sideBar{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: #202123;
  z-index: 20;
  transform: translateX(100vw);
  font-size: 34px;
  transition: all 0.6s ease;
  color: white;
  padding-top: 102px;
}

.slideSideBar {
  transform: translateX(0);
}

@media (max-width: 575.98px){
  .sideBar{
    display: block;
  }
}